{% extends "base.html" %}
<!-- TITULO PESTAÑA -->
{% block title %}
<title>Inventario</title>
{% endblock %}

{% block alertas %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}

      {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
            <!-- <span aria-hidden="true">&times;</span> -->
          </button>
        </div>
      {% endfor %}

    {% endif %}
    {% endwith %}
{% endblock %}
<!-- TITULO EN LA INTERFAZ -->
{% block tituloPagina %}
Inventario
{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item"><a href="/inicio">Inicio</a></li>
  <li class="breadcrumb-item active">Inventario</li>
</ol>
{% endblock %}
<!-- CONTENIDO DE LA PAGINA -->
{% block contenido %}
<form class="col-auto" action="/inventario/search" method="post" id="form_busqueda_inv">
<div class="input-group mb-3">
  <div class="input-group-text p-0">
      <select class="form-select form-select-lg shadow-none bg-light border-0" name="opt_inventario">
        <option value="marca">Marca</option>  
        <option value="modelo">Modelo</option>
        <option value="año">Año</option>
      </select>
  </div>
  <input type="text" class="form-control" placeholder="Buscar..." id="searchbox1" name="searchbox1">
  <button class="input-group-text shadow-none px-4 btn-primary">
    <i class='bx bx-search-alt-2'></i>
  <button type="submit" class="input-group-text shadow-none px-4 btn-dark" onclick="inventarios_search();">
    <i class='bx bx-refresh'></i>
  </button>
</div>
</form>
    <div class="table-responsive">
        <table class="table table-bordered  table-striped table-responsive" id="inventariotable">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Marca</th>
                <th scope="col">Modelo</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Año</th>
                <th scope="col">Cantidad mínima</th>
                <th scope="col" hidden>imagen</th>
                <th scope="col">Proveedor</th>
              </tr>
            </thead>
            <tbody>
              {% for inventario in inventario %}
              <tr>
                <td>{{inventario.id}}</td>
                <td>{{inventario.marca}}</td>
                <td>{{inventario.modelo}}</td>
                <td>{{inventario.cantidad}}</td>
                <td>{{inventario.fecha_salida}}</td>
                <td>{{inventario.cantidad_minima}}</td>
                <td hidden>data:image/{{inventario.mimetype}};base64,{{inventario.imagen}}</td>
                <td>{{inventario.proveedor_id}}</td>
              </tr>
            {% endfor %}
            </tbody>
            
          </table>
    </div>
    <br>
        
  <div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="data:image/{{tipo}};base64,{{img}}" class="img-fluid rounded-start" alt="usuario" id="inventario_imagen">
    </div>
    <div class="col-md-8">
      <div class="card-body">

        <h5 class="card-title">Vehículo</h5>
        <form action="/inventario/add" method="POST" id="form_inventario" enctype="multipart/form-data">
          <div class="row mb-3">
            <label for="Id" class="col-sm-2 col-form-label">ID</label>
            <div class="col-sm-9">
              <input type="numer" class="form-control" id="id" name="inventario_id" readonly>
            </div>
          </div>
          <div class="row mb-3">
            <label for="marca" class="col-sm-2 col-form-label">Marca</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="marca" name="inventario_marca">
            </div>
          </div>
          <div class="row mb-3">
            <label for="modelo" class="col-sm-2 col-form-label">Modelo</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="modelo" name="inventario_modelo">
            </div>
          </div>
          <div class="row mb-3">
            <label for="cantidad" class="col-sm-2 col-form-label">Cantidad</label>
            <div class="col-sm-9">
              <input type="number" class="form-control" id="cantidad" name="inventario_cantidad">
            </div>
          </div>
          <div class="row mb-3">
            <label for="anio" class="col-sm-2 col-form-label">Año</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="anio" name="inventario_fecha_salida">
            </div>
          </div>
          <div class="row mb-3">
            <label for="cantidadMin" class="col-sm-2 col-form-label">Cantidad Minima</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="cantidadMin" name="inventario_cantidadminima">
            </div>
          </div>
          <div class="row mb-3">
            <label for="avatar" class="col-sm-2 custom-file-label">Imagen</label>
            <div class="col-sm-10 custom-file">
              <input type="file" id="avatar" class="form-control" name="inventario_imagen" accept="image/png, image/jpeg">
            </div>
          </div>
          <div class="row mb-3">
            <label for="Proveedor" class="col-sm-2 col-form-label">Proveedor</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="Proveedor" name="inventario_fecha_salida">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-10 offset-sm-2">
              <div class="d-flex justify-content-evenly">
                <button type="submit" class="btn btn-success btn-lg">Agregar</button>
                <button type="submit" class="btn btn-warning btn-lg" onclick="inventario_update();">Editar</button>
                <button type="submit" class="btn btn-danger btn-lg" onclick="inventario_delete();">Eliminar</button>
                <input type="reset" value="Limpiar formulario">
                </div>
                <br>
              <!-- <button class="btn btn-primary btn-lg btn-block" type="submit">Guardar</button> -->
              <!-- <div class="form-check">
                
              </div> -->
            </div>
          </div>
          
        </form>
<!--         <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
      </div>
    </div>
  </div>
</div>
{% endblock %}
