{% extends "base.html" %}
<!-- TITULO PESTAÑA -->
{% block title %}
<title>Usuarios</title>
{% endblock %}

{% block alertas %}
<p>Aqui va a haber alertas</p>
{% endblock %}
<!-- TITULO EN LA INTERFAZ -->
{% block tituloPagina %}
Usuarios
{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item"><a href="/inicio">Inicio</a></li>
  <li class="breadcrumb-item active">Usuarios</li>
</ol>
{% endblock %}

<!-- CONTENIDO DE LA PAGINA -->
{% block contenido %}
<div class="input-group mb-3">
  <div class="input-group-text p-0">
      <select class="form-select form-select-lg shadow-none bg-light border-0">
        <option>Nombre</option>  
        <option>Usuario</option>
        <option>Cédula</option>
        <option>Cargo</option>
      </select>
  </div>
  <input type="text" class="form-control" placeholder="Buscar...">
  <button class="input-group-text shadow-none px-4 btn-primary">
    <i class='bx bx-search-alt-2'></i>
  </button>
</div>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped table-responsive">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Cédula</th>
                <th scope="col">Cargo</th>
                <th scope="col">Correo</th>
                <th scope="col">Usuario</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Anthony Stark</th>
                <td>1111111</td>
                <td>Lider</td>
                <td>iroman@avengers.com</td>
                <td>@iroman</td>
              </tr>
              <tr>
                <th scope="row">Natasha Romanov</th>
                <td>22222</td>
                <td>Espia</td>
                <td>blackwidow@avengers.com</td>
                <td>@blackwidow</td>
              </tr>
              <tr>
                <th scope="row">Wanda Maximoff</th>
                <td>333333</td>
                <td>Bruja</td>
                <td>scarletwitch@avengers.com</td>
                <td>@scarletwith</td>
              </tr>
              <tr>
                <th scope="row">Peter Parker</th>
                <td>44444</td>
                <td>Practicante</td>
                <td>spiderman@avengers.com</td>
                <td>@spiderman</td>
              </tr>
              <tr>
                <th scope="row">Thor Odinson</th>
                <td>55555</td>
                <td>Beach Boy</td>
                <td>thor@avengers.com</td>
                <td>@thor</td>
              </tr>
              
            </tbody>
            
          </table>
    </div>
    <br>

        
  <div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ url_for('static', filename='images/user.jpg') }}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">

        <h5 class="card-title">Usuario</h5>
        <form action="/usuarios/add" method="POST" id="form_usuarios">
          <div class="row mb-3">
            <label for="inputNombre" class="col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputNombre" name="usuarios_nombre">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputApellido" class="col-sm-2 col-form-label">Apellido</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputApellido" name="usuarios_apellido">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputUsuario" class="col-sm-2 col-form-label">Usuario</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputUsuario" name="usuarios_usuario">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputPassword" class="col-sm-2 col-form-label">Contraseña</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword" name="usuarios_clave">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputRol" class="col-sm-2 col-form-label">Rol</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputRol" name="usuarios_rol">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputCedula" class="col-sm-2 col-form-label">Cédula</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="inputCedula" name="usuarios_cedula">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputEmail" class="col-sm-2 col-form-label">Correo</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputEmail" name="usuarios_correo">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputCargo" class="col-sm-2 col-form-label">Cargo</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputCargo" name="usuarios_cargo">
            </div>
          </div>
          <div class="row mb-3">
            <label for="avatar" class="col-sm-2 col-form-label">Imagen</label>
            <div class="col-sm-10">
              <input type="file" id="avatar" name="usuarios_imagen" accept="image/png, image/jpeg">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-10 offset-sm-2">
              <div class="d-flex justify-content-evenly">
                <button type="submit" class="btn btn-success btn-lg">Agregar</button>
                <button type="submit" class="btn btn-warning btn-lg" onclick="usuarios_update();">Editar</button>
                <button type="submit" class="btn btn-danger btn-lg" onclick="usuarios_delete();">Eliminar</button>
                </div>
                <br>
              <!-- <button class="btn btn-primary btn-lg btn-block" type="submit">Guardar</button> -->
              <!-- <div class="form-check">
                
              </div> -->
            </div>
          </div>
          
        </form>
<!--         <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
      </div>
    </div>
  </div>
</div>
{% endblock %}
