{% extends "base.html" %}
<!-- TITULO PESTAÑA -->
{% block title %}
<title>Usuarios</title>
{% endblock %}

{% block alertas %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}

      {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
            <!-- <span aria-hidden="true">&times;</span> -->
          </button>
        </div>
      {% endfor %}

    {% endif %}
    {% endwith %}
{% endblock %}
<!-- TITULO EN LA INTERFAZ -->
{% block tituloPagina %}
Usuarios
{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item"><a href="/inicio">Inicio</a></li>
  <li class="breadcrumb-item active">Usuarios</li>
</ol>
{% endblock %}

<!-- CONTENIDO DE LA PAGINA -->
{% block contenido %}
<form class="col-auto" action="/usuarios/search" method="post" id="form_busqueda">
<div class="input-group mb-3">
  <div class="input-group-text p-0">
      <select class="form-select form-select-lg shadow-none bg-light border-0" name="opt">
        <option name="nombre" value="nombre" >Nombre</option>  
        <option name="usuario" value="usuario">Usuario</option>
        <option value="cedula">Cédula</option>
        <option value="cargo">Cargo</option>
      </select>
  </div>
  <input type="text" class="form-control" placeholder="Buscar..." id="searchbox" name="searchbox">
  <button type="submit" class="input-group-text shadow-none px-4 btn-primary">
    <i class='bx bx-search-alt-2'></i>
    <button type="submit" class="input-group-text shadow-none px-4 btn-dark" onclick="usuarios_search();">
      <i class='bx bx-refresh'></i>
  </button>
</div>
</form>
    <div class="table-responsive">
        <table class="table table-bordered  table-striped table-responsive" id="usertable">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Usuario</th>
                <th scope="col"hidden>Contraseña</th>
                <th scope="col"hidden>Rol</th>
                <th scope="col">Cédula</th>
                <th scope="col"hidden>Correo</th>
                <th scope="col">Cargo</th>
                <th scope="col" hidden>Imagen</th>
           
              </tr>
            </thead>
            <tbody>
              {% for Usuarios in usuarios %}
              <tr>
                <td>{{Usuarios.nombre}}</td>
                <td>{{Usuarios.apellido}}</td>
                <td>{{Usuarios.usuario}}</td>
                <td hidden>{{Usuarios.clave}}</td>
                <td hidden>{{Usuarios.rol}}</td>
                <td>{{Usuarios.cedula}}</td>
                <td hidden>{{Usuarios.correo}}</td>
                <td>{{Usuarios.cargo}}</td>
                <td hidden>data:image/{{Usuarios.mimetype}};base64,{{Usuarios.imagen}}</td>
              </tr>
            {% endfor %}
            </tbody>
            
          </table>
    </div>
    <br>

        
  <div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <!-- <img src="{{ url_for('static', filename='images/user.jpg') }}" class="img-fluid rounded-start" alt="usuario"> -->
      <img src="data:image/{{tipo}};base64,{{img}}" class="img-fluid rounded-start" alt="usuario" id="userImage">
    </div>
    <div class="col-md-8">
      <div class="card-body">

        <h5 class="card-title">Usuario</h5>
        <form action="/usuarios/add" method="POST" id="form_usuarios" enctype="multipart/form-data">
          <div class="row mb-3">
            <label for="inputNombre" class="col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputNombre" name="usuarios_nombre">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputApellido" class="col-sm-2 col-form-label">Apellido</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputApellido" name="usuarios_apellido">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputEmail" class="col-sm-2 col-form-label">Correo</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputEmail" name="usuarios_correo">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputUsuario" class="col-sm-2 col-form-label">Usuario</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputUsuario" name="usuarios_usuario">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputPassword" class="col-sm-2 col-form-label">Contraseña</label>
            <div class="col-sm-4">
              <input type="password" class="form-control" id="inputPassword" name="usuarios_clave">
            </div>
            <label for="inputPassword" class="col-sm-2 col-form-label">Confirmar</label>
            <div class="col-sm-4">
              <input type="password" class="form-control" id="inputConfirmar" name="usuarios_confirmar">
            </div>
          </div>
          
          <div class="row mb-3">
            <label for="inputCedula" class="col-sm-2 col-form-label">Cédula</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="inputCedula" name="usuarios_cedula">
            </div>
          </div>


          <div class="row mb-3">
            <label for="inputCargo" class="col-sm-2 col-form-label">Cargo</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="inputCargo" name="usuarios_cargo">
            </div>
            <label for="inputCargo" class="col-sm-2 col-form-label">Rol</label>
            <div class="col-sm-4">
              <select class="form-control" name="usuarios_rol" id="inputRol" >
                <option value="usuario">Usuario</option>
                <option value="administrador">Administrador</option>
                <option value="superadministrador">Super administrador</option>
              </select>
            </div>
          </div>

          <div class="row mb-3">
            <label for="avatar" class="col-sm-2 custom-file-label">Imagen</label>
            <div class="col-sm-10 custom-file">
              <input type="file" id="avatar" class="form-control" name="usuarios_imagen" accept="image/png, image/jpeg">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-10 offset-sm-2">
              <div class="d-flex justify-content-evenly">
                <button type="submit" class="btn btn-success btn-lg">Agregar</button>
                <button type="submit" class="btn btn-warning btn-lg" onclick="usuarios_update();">Editar</button>
                <button type="submit" class="btn btn-danger btn-lg" onclick="usuarios_delete();">Eliminar</button>
                <input type="reset" value="Limpiar formulario" class="btn btn-dark">
                </div>
                <br>
              <!-- <button class="btn btn-primary btn-lg btn-block" type="submit">Guardar</button> -->
              <!-- <div class="form-check">
                
              </div> -->
            </div>
          </div>
          
        </form>
<!--         <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
      </div>
    </div>
  </div>
</div>
{% endblock %}
